@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

body {
    background: #1d1c1c;

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 8%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    z-index: -1;

}

.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: .5s;
}

.header:hover::after {
    left: 100%;
}

.nombre-empresa {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.navbar a {
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 15px;
    
}

#check {
    display: none;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

/* Aqui empieza el responsive */
@media (max-width: 992px) {
    .header {
        padding: 1.3rem 5%;
    }
}

.home {
  background-position: left;
  justify-content: center;
  text-align: center;
}

.home .home-content h3 {
  font-size: 4.5rem;
}

.home .home-content p{
  font-size: 1.5rem;
}


@media (max-width: 768px) {
    .icons { 
        display: inline-flex;
    } 

    #check:checked~.icons #menu-icon {
        display: none;    
    }

    .icons #close-icon {
        display: none;

    }

    #check:checked~.icons #close-icon {
        display: block;    
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.navbar {
        height: 17.7rem;    
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: rotateY(-50px);
        opacity: 0;
        transition: .3s ease;

    }

    #check:checked~.navbar a {
        transform: rotateY(0);  
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }
}

 /* home  */
 
 .home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(imagen02.jpg) no-repeat;
  background-size: cover;
  background-position: center;
 }

 .home .home-content {
  max-width: 60rem;

 }

 .home .home-content h3 {
  font-size: 4rem;
  text-transform: uppercase;
  color: #fff;

 }

 .home .home-content p {
  font-size: 1rem;
  font-weight: bolder;
  line-height: 1.5;
  color: #eee;
  
  color: #ffffff;
  padding: 1.5px 1.5px;
  border-radius: 10px;


 }
.home .btn {
  background-color: #252424;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 1.0rem;
  cursor: pointer;
  margin-top: 20px;
      
      
} 

.home .btn:hover {
  background-color: rebeccapurple;
}
/* Aqui comienza mi caga */ 

.logo-container {
    display: flex;
    align-items: center;
}

.logo-nav {
    max-width: 45px;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
    
}

/* Sobre nosotros */

.about-body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d1c1c;
}

.about-section {
  background: url(imagen01.jpg) no-repeat left;
  background-size: 55%;
  background-color: #1d1c1c;
  overflow: hidden;
  padding: 100px 0;
}

.inner-container {
  width: 55%;
  float: right;
  background-color: #0d0e09;
  padding: 150px;
}

.inner-container h1 {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
  color: #fff;
}

.about-text {
  margin-bottom: 20px;
  color: #fff;
}

.skills {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 13px;
  color: #fff;
}

@media screen and (max-width:1200px){
  .inner-container{
    padding: 80px;
  }
}

@media screen and (max-width:1000px){
  .about-section {
    background-size: 100%;
    padding: 100px 40px;
  }

  .inner-container {
    width: 100%;
  }
}

@media screen and (max-width:600px){
  .about-section{
    padding: 0;
  }
  .inner-container{
    padding: 60px;
  }
} 

/* Servicios */








/* Aqui esta el contactanos */

.contact-section {
      margin: 0 auto;
      padding: 40px 20px;
      text-align: center;
      background-color: #0d0e09;
    }

  .contact-section .title {
    color: #fff;
  }
    
    .title {
      font-size: 28px;
      margin-bottom: 16px;
    }

    .description {
      font-size: 16px;
      color: #ffffff;
      margin-bottom: 32px;
    }
    
    .contact-links {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
    
    .whatsapp-link {
      color: #25D366;
      font-size: 32px;
      margin-right: 24px;
      margin-bottom: 16px;
    }
    
    .email-container {
      display: flex;
      align-items: center;
      background-color: #f2f2f2;
      padding: 8px 12px;
      border-radius: 4px;
      margin-bottom: 16px;
    }
    
    #emailSpan {
      font-size: 16px;
      margin-right: 12px;
    }
    
    .btn button {
      padding: 8px 16px;
      font-size: 14px;
      background-color: #171717;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin-left: 8px;
    }

    button:hover {
      background-color: rebeccapurple;
    }

    @media (max-width: 768px) {
      .contact-links {
        flex-direction: column; /* Apila los enlaces verticalmente en pantallas pequeñas */
      }
    
      .whatsapp-link,
      .email-container {
        margin-bottom: 16px; /* Añade un margen inferior a los elementos apilados */
      }
    }
    
    @media (max-width: 480px) {
      .title {
        font-size: 24px; /* Reduce el tamaño de fuente del título en pantallas muy pequeñas */
      }
    
      .description {
        font-size: 14px; /* Reduce el tamaño de fuente de la descripción en pantallas muy pequeñas */
      }
    
      .whatsapp-link {
        font-size: 24px; /* Reduce el tamaño de fuente del enlace de WhatsApp en pantallas muy pequeñas */
      }
    }



    /* Mapa gooogle */ 

    .map-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 50px;
        background-color: #0d0e09
    }

    .ubicacion   {
      color: #fff;
    }
    
     /* footer */ 

     footer {
      background:#1d1c1c;
      padding-top: 50px;
      color: #fff;
     }

     .container {
      /*width: 1140px;*/
      margin: auto;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
     } 

     .footer-content{
      width: 33.3%;
      padding: 0 20px;
      box-sizing: border-box;
     }

     h3 {
      font-size: 28px;
      margin-bottom: 15px;
      text-align: center;
     }

     .footer-content p {
      width: 215px;
      margin: auto;
      padding: 7px;
     }

     .footer-content ul {
      text-align: center;
     }

     .list  {
      padding: 0;
     }

     .list li {
      width: auto;
      text-align: center;
      list-style-type: none;
      padding: 7px;
      position: relative;
     }

     
     *.list li::before {
      content: '';
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 100%;
      width: 0;
      height: 2px;
      background-color: rebeccapurple;
      transition: .5s;
     }

     .list li:hover::before {
      width: 70px;
     }

     .social-icons {
      text-align: center;
      padding: 0;
     }

     .social-icons li {
      display: inline-block;
      text-align: center;
      padding: 5px;
     }

     .social-icons i {
      color:#fff;
      font-size: 25px;
     }

     a {
      text-decoration: none;
     }
     a:hover {
      color: rebeccapurple;
     }

    .social-icons i:hover{
      color: rebeccapurple;
    }

    .bottom-bar {
      background:rebeccapurple;
      text-align: center;
      padding: 10px 0;
      margin-top: 50px;
    }
    
    .bottom-bar p {
      margin: 0;
      font-size: 16px;
      padding: 5px;
    }

    @media (max-width:768px){
      .footer-content {
        width: 50%;
      }
    }

    @media (max-width:480px){
      .footer-content {
        width: 100%;
        text-align: center;
      }

      .footer-content p {
        width: auto;
      }

      .social-icons li {
        display: inline-block;
      }
    }

